# Default ignored files
/../../graphics /.idea/shelf/
/../../graphics /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../graphics /.idea/httpRequests/
# Datasource local storage ignored files
/../../graphics /.idea/dataSources/
/../../graphics /.idea/dataSources.local.xml
